.shoes{
  background-color: black;
  padding: 0px 20px;
  justify-content: center;
}
.items{
  font-weight: 500;
  font-style: italic;
  font-size: clamp(1.2rem, .5rem + 2vw, 2rem);
  background-color: black;
  color: #66FCF1;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 30px;
  margin-top: 0px;


}
