.shoes{
  background-color: black;
  padding: 0px 20px;
  justify-content: center;
}
.items{
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
  background-color: black;
  color: #66FCF1;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 30px;
  margin-top: 0px;


}
.shopping:hover > .slick-prev {
  left: 3% !important;
  z-index: 1;
}
.shopping:hover > .slick-next {
  right: 3% !important;
  z-index: 1;
}
.shopping:hover > .slick-prev:before {
  /* content: "<"; */
  color: black;
  font-size: 50px;
  font-weight: 700;
}

.shopping:hover > .slick-next:before {
  /* content: ">"; */
  color: black;
  font-size: 50px;
}