
.product{
    display: flex;
    flex-direction: column;
    width: 100%;
  object-fit: cover;
  object-position: bottom;
    align-items: center;
    border-color: aqua;
    border-width: 10px;
    background-color: black;
    color: white;
    margin: 0px;
}
.productImage img {
    display: block;
    width: 100%;
    max-width: 350px;
  object-position: bottom;
    background-image: black;
    padding:10px 0px;
    padding-top: 20px;
    margin: 0px;

    border-radius: 30px;
}
.productHead{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.price{
    background-color: red;
    margin-bottom: 10px;
    font-size: 18px;
}
.cartButton button{
    padding: 0px 3px;
    margin-top:0px ;
}


@media only screen and (max-width: 500px){
    .productHead{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .productImage img{
        max-width: 225px;
    }
}
@media only screen and (max-width: 350px){
    .productImage img{
        max-width: 200px;
    }
}